<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="TodoApp">
		<section class="todoapp" ng-controller="MainController">
			<header class="header">
				<h1>{{title}}</h1>

				<!--
					===表单提交
					ng-submit 作用于表单元素上
					触发事件：1.submit类型的input
							 2.表单中某个表单控制上按回车
				-->
				<form ng-submit="addTodo()">
					<input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="todoText">
				</form>

			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox" ng-click="toggle()" ng-model="toggleAll">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

					<!--===ng-class指令可解决样式问题
						ng-class="{css类名：boolean}"
						当boolean 为true 作用css类
						当boolean 为false 取消css类
					-->
					<li ng-class="{completed:todo.completed}" ng-repeat="todo in todos | filter:todoFilter track by $index" >
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label>{{todo.title}}</label>
							<button class="destroy" ng-click="destroyById(todo.id)"></button>
						</div>
						<input class="edit" value="Create a TodoMVC template">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<!--1.内置过滤器-->
				<!--<span class="todo-count"><strong>{{(todos | filter: {completed:false}).length}}</strong> item left</span>-->

				<!--2.自定义过滤器-->
				<span class="todo-count"><strong>{{todos | getUncompletedCount}}</strong> item left</span>

				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a ng-class="{ selected: todoFilter.completed === undefined }" class="selected" href="#/" ng-click="todoFilter={}">All</a>
					</li>
					<li>
						<a ng-class="{ selected: todoFilter.completed === false }"  href="#/active" ng-click="todoFilter={completed:false}">Active</a>
					</li>
					<li>
						<a ng-class="{ selected: todoFilter.completed === true }"  href="#/completed" ng-click="todoFilter={completed:true}">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="clearAll()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>

		<!--=====引入angular-->
		<script src="node_modules/angular/angular.js"></script>

		<script src="js/app.js"></script>
	</body>
</html>
